<!DOCTYPE html>
<html lang="en">
  <head>
    <style>
      body {
        font-family: sans-serif;
      }
    </style>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
  </head>
  <body>
    <h1>Login Page</h1>
    <form action="/user/login" method="post">
      <!-- Correctly associating label with input using 'for' and 'id' -->
      <label for="email">Email</label>
      <input type="email" required name="email" id="email" />

      <label for="password">Password</label>
      <input type="password" required name="password" id="password" />

      <button type="submit">Login</button>
    </form>
  </body>
</html>
